<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
    <div class="container py-5">
       <div class="row g-5">
          <div class="col-lg-3 col-md-6">
             <h1 class="fw-bold text-primary mb-4">Recruta<span class="text-white">Fácil</span></h1>
             <p>o recruta fácil tem como seu maior benefício a eficiência de se candidatar rapidamente</p>
          </div>
          <div class="col-lg-3 col-md-6">
             <h5 class="text-light mb-4">Inicio</h5>
             <p href="/">Página Inicial</p>
             <p href="vagas">Vagas</p>
             <p href="empresarial">Empresarial</p>
          </div>
          <div class="col-lg-3 col-md-6">
             <h5 class="text-light mb-4">Links Rápidos</h5>
             <p class="btn btn-link" href="login">Login</p>
             <p class="btn btn-link" href="login">Contate-nos</p>
             <p class="btn btn-link" href="login">Sobre nós</p>
             <p class="btn btn-link" href="login">Deixe sua mensagem</p>
          </div>
          <div class="col-lg-3 col-md-6">
             <h5 class="text-light mb-4">Contato</h5>
             <p><i class="fa fa-map-marker-alt me-3"></i>ETEC Prefeito Alberto Feres</p>
             <p><i class="bi bi-instagram"></i>recrutafacil@hotmail.com</p>
             <p><i class="fa fa-envelope me-3"></i>@recrutafacil</p>
          </div>
       </div>
    </div>
 </div>
 </div>
 <!-- Footer End -->
 <!-- Back to Top -->
 <a href="index.html#" class="btn btn-lg btn-primary btn-lg-square back-to-top" style="display: none;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
       <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
 </a>
 <!-- JavaScript Libraries -->
     <script src="/public/vendor/jquery/jquery.min.js"></script>


    <!-- Main JS-->
    <script src="js/global.js"></script>
 <script src="/public/js/jquery-3.4.1.min.js.download"></script>
 <script src="/public/js/bootstrap.bundle.min.js.download"></script>
 <script src="/public/js/wow.min.js.download"></script>
 <script src="/public/js/easing.min.js.download"></script>
 <script src="/public/js/waypoints.min.js.download"></script>
 <script src="/public/js/owl.carousel.min.js.download"></script>
 <script src="/publi/js/parallax.min.js.download"></script>
 <script src="/public/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
 <script src="/public/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
 <script src="/public/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
 <script src="/public/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
 <script src="/public/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
 <script src="/public/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
 <script src="/public/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
 <script src="/public/js/scripts.js"></script> <!-- Custom scripts -->
 <!-- Template Javascript -->
 <script src="/public/js/main.js.download"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
 <script src="/js/bootstrap.min.js"></script>
 </body>
 </html>