<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
    <!-- Carousel Start -->
    <div class="jumbotron2 jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <div class="mx-auto" style="width: 100%; max-width: 600px; ">
                <div class="col-lg-12 pt-0">
                    <h1 class="display-4 text-white mb-3 animated slideInDown">Recrutamento e Gestão de Pessoas</h1>
                    <p class="fs-5 text-white-50 mb-5 animated slideInDown">Clique abaixo para anunciar sua vagas de emprego</p>
                    <a class="btn btn-primary py-2 px-3 animated slideInDown" href="anuncio">
                        Anunciar Vagas
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 py-5">
                    <div class="row">

                        <div class="col-12">
                            <div class="info-box">
                                <img src="/public/img/img/icon1.png" alt="">
                                <div class="ms-4">
                                    <h5>Triagem de currículos</h5>
                                    <p>Você pode fazer a filtragem por habilidades buscadas, área de formação ou até mesmo tempo de experiência.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img src="img/icon4.png" alt="">
                                <div class="ms-4">
                                    <h5>Poder de alcance</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img src="img/icon5.png" alt="">
                                <div class="ms-4">
                                    <h5>Melhor experiência</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="img/about.png" alt="">
                </div>
            </div>
        </div>
    </section>

    

<%- include('./partials/footer.ejs') %>